# Compose project name
COMPOSE_PROJECT_NAME=cabrini
COMPOSE_HTTP_TIMEOUT=200
TZ=America/New_York

# Directories
APPDATA=~/appdata
NFSCONFIG="addr=192.168.3.2,nolock,soft,rw"
MEDIAPATH=":/mnt/twins/Media"


# Domain Suffix
DOMAINSUFFIX=gottsman.com
SANSDOMAINSUFFIX=*.gottsman.com

# Permissions
PUID=1001
PGID=1001

# Passwords
FORGEJO_MARIAB_PASSWD=<password>
MARIADB_ROOT_PASSWD=<password>
POSTGRES_ROOT_PASSWD=<password>

# Cloudflare
dns_cloudflare_email=<email>
dns_cloudflare_api_key=<api key>

# Transmission
LOCAL_NETWORK=192.168.0.0/16
TRANSMISSION_USERNAME=<username>
TRANSMISSION_PASSWORD=<password>
TRANSMISSION_OPENVPN_PROVIDER=<provider>
TRANSMISSION_OPENVPN_CONFIG=<config>
TRANSMISSION_OPENVPN_OPTS=<opts>
TRANSMISSION_RATIO_LIMIT=0
TRANSMISSION_RATIO_LIMIT_ENABLED=true
TRANSMISSION_SPEED_LIMIT_UP=10
TRANSMISSION_SPEED_LIMIT_UP_ENABLED=false
TRANSMISSION_DOWNLOAD_QUEUE_SIZE=15
TRANSMISSION_CACHE_SIZE_MB=10
TRANSMISSION_WEB_UI=transmission-web-control
TRANSMISSION_GLOBAL_APPLY_PERMISSIONS=false
TRANSMISSION_HEALTH_CHECK_HOST=google.com
TRANSMISSION_WEBPROXY_ENABLED=false
TRANSMISSION_WEBPROXY_PORT=8888
TRANSMISSION_BLOCKLIST_ENABLED=true

ADMQTT_MQTT_USERNAME=homeassistant
ADMQTT_MQTT_PASSWORD=<password>
ADMQTT_ALARM_CODE=<code>

TUBEARCHIVE_API_KEY=<api key>
TUBEARCHIVE_JF_API_KEY=<api key>
TUBEARCHIVE_USERNAME=<username>
TUBEARCHIVE_PASSWORD=<password>
TUBEARCHIVE_SECRET=<secret>

RADARR_BASE_URL=http://radarr:7878
RADARR_API_KEY=<api key>
SONARR_BASE_URL=http://sonarr:8989
SONARR_API_KEY=<api key>

REGISTRY_SERVER=<private registry>

#  LibreNMS
LIBRENMS_MYSQL_PASSWORD=<passwword>
MEMORY_LIMIT=256M
MAX_INPUT_VARS=1000
UPLOAD_MAX_SIZE=16M
OPCACHE_MEM_SIZE=128
REAL_IP_FROM=0.0.0.0/32
REAL_IP_HEADER=X-Forwarded-For
LOG_IP_VAR=remote_addr

CACHE_DRIVER=redis
SESSION_DRIVER=redis
REDIS_HOST=redis

LIBRENMS_SNMP_COMMUNITY=librenmsdocker
LIBRENMS_WEATHERMAP=false
LIBRENMS_WEATHERMAP_SCHEDULE=*/5 * * * *

# Forgejo Runner
FORGEJO_RUNNER=<key>
