# Compose project name
COMPOSE_PROJECT_NAME=tools
COMPOSE_HTTP_TIMEOUT=200
TZ=America/New_York

# Permissions
PUID=1001
PGID=1001

# Directories
APPDATA=~/appdata

# Passwords
POSTGRES_ROOT_PASSWD=<password>
SPLUNK_PASSWORD=<password>
